* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
}

header {
  margin-top: 3%;

}

header h1 {
  text-align: center;
}

section {
  height: 100%;
  width: 100%;

}
.btn-first {
  background: transparent;
  border: 2px solid black;
  padding: 2%;
  font-size: 1.3vw;
}
#cont-btn {
  width: 40%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

}
#cont-intro-text p {
  font-size: 1.3vw;
}


/* MODAL ENTREPRISE + ARTISTE */

#artiste, #entreprise {
  position: relative;
  display: flex;

}

.div-photo {
  background-color: darkgrey;
  height: 100%;
  width: 50%;
}

.div-content {
  height: 100%;
  width: 50%;
}

.div-text {
  width: 70%;
  margin: auto;
}

.artiste {
  transition: 0.5s;
  top: -100vh;
}

.entreprise {
  transition: 0.5s;
  position: relative;
  top: 100vh;
}

.scroll-artiste {
  background-color: darkslategrey;
  top: 0;
  transition: 0.5s;
}

.scroll-entreprise {
  background-color: #3F3F3F;
  top: -100vh;
  transition: 0.5s;
  color: white;
}


#section-first {
  position: absolute;
}

#cont-intro-text {
  width: 40%;
  margin: auto;
  margin-top: 3%;

}


.close {
  position: relative;
  right: -95%;
  margin-top: 1.5%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
  color: white;
}

.little-text {
  width: 40%;
  font-size: 0.8vw;
  margin: auto;
}

