@font-face {
	font-family: "Montserrat-Regular";
	src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url('../font/Montserrat-Medium.ttf');
}
@font-face {
	font-family: "Montserrat-Bold";
	font-weight: bold;
	src: url('../font/Montserrat-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  overflow: hidden;

}

body {
  height: 100vh;
  position: absolute;
  overflow-y: hidden;

}

header {
  width: 100%;

}

header h1 {
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  font-size: 2.3vw;
  width: 90%;
  margin: auto;
}
/* LOADER */
.loading * {
  display: none;
}

.dots-loader:not(:required) {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #FFD503 -14px -14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  animation: dots-loader 5s infinite ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: .3s all;
}

@keyframes dots-loader {
  0% {
    box-shadow: #FFD503 -14px -14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #FFD503 14px -14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #FFD503 14px 14px 0 7px, #FFB300 14px 14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
  25% {
    box-shadow: #FFD503 -14px 14px 0 7px, #FFB300 -14px 14px 0 7px, #7BD1A8 -14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #FFD503 -14px -14px 0 7px, #FFB300 -14px 14px 0 7px, #7BD1A8 -14px -14px 0 7px, #2FC2AD -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #FFD503 14px -14px 0 7px, #FFB300 -14px 14px 0 7px, #7BD1A8 -14px -14px 0 7px, #2FC2AD 14px -14px 0 7px;
  }
  50% {
    box-shadow: #FFD503 14px 14px 0 7px, #FFB300 -14px 14px 0 7px, #7BD1A8 -14px -14px 0 7px, #2FC2AD 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #FFD503 -14px 14px 0 7px, #FFB300 -14px 14px 0 7px, #7BD1A8 -14px -14px 0 7px, #2FC2AD 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #FFD503 -14px -14px 0 7px, #FFB300 -14px -14px 0 7px, #7BD1A8 -14px -14px 0 7px, #2FC2AD 14px -14px 0 7px;
  }
  75% {
    box-shadow: #FFD503 14px -14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px -14px 0 7px, #2FC2AD 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #FFD503 14px 14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #FFD503 -14px 14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
  100% {
    box-shadow: #FFD503 -14px -14px 0 7px, #FFB300 14px -14px 0 7px, #7BD1A8 14px 14px 0 7px, #2FC2AD -14px 14px 0 7px;
  }
}

.loaded .dots-loader {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
}
/* */
h2 {
    font-family: "Montserrat-Medium", sans-serif;
}

p {
    font-family: "Montserrat-Regular", sans-serif;
}

#cont-intro-text {
    color: #fff;
    text-align: center;
}

section {
  height: 100vh;
  width: 100%;

}

span {
    color: #FFD503;
}


.btn-first {
  background: transparent;
  border: 0 solid black;
  padding: 3%;
  font-size: 1.3vw;
  text-transform: uppercase;
  width: 40%;
  cursor: pointer;

}
#cont-btn {
  width: 40%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;

}
#cont-intro-text p {
  font-size: 1.3vw;
}

#section-first {
      background: linear-gradient(to right, #7BD1A8 , #2FC2AD);
  background-image: url("../img/home-background.jpg");
  display: none;
  height: 100vh;
}

#btn-artiste {
    background-color: #FFD503;
  color: #FFF;

}
#btn-artiste:hover, #btn-entreprise:hover {
  background-color: #FFF;
  color: #3F3F3F;
  transition: 0.5s;
 }



#btn-entreprise {
    background-color: #FFB300;
    color: #fff;
}
.logo-bananart{
  margin-bottom: 10%
}
.logo-bananart img {
    width: 7%;
    position: absolute;
    top:2%;
    left:2%;
  ;
}
#error_message, #error_message-ent{
  color: #731919;
  font-family: "Montserrat-Medium", sans-serif;
  margin-right: 2%;

}
#success_message, #success_message-ent{
  font-family: "Montserrat-Medium", sans-serif;
  margin-right: 2%;
}


/* MODAL ENTREPRISE + ARTISTE */

#artiste, #entreprise {
  position: relative;
  display: flex;

}

.div-photo {
  background-color: darkgrey;
  height: 100vh;
  width: 50%;
  overflow: hidden;
}

.div-photo img {
  min-height: 100%;
  min-width: 100%;

}
#entreprise .div-photo img{
  position: relative;

}

.div-content {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.div-text {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}

.div-description {
    margin: auto;
    margin-top: 7%;
    width: 90%;
    font-size: 2.2vh;
}

.submit {
  background: #2FC2AD;
  border: 0 solid black;
  padding: 2%;
  font-size: 2.2vh;
  text-transform: uppercase;
  color: #fff;
  margin-top: 3%;
}

.input-text {
  padding: 1%;
  font-size: 2.2vh;
  color: #000;
  width: 50%;
  margin: 1%;
  border: 1px grey solid;
}

.formulaire {
    margin: auto;
    margin-top: 5%;
}

.artiste {
  transition: 0.5s;
  top: -100vh;
  height: 100vh;
}

.entreprise {
  transition: 0.5s;
  position: relative;
  top: 0vh;
  height: 100vh;
}

.scroll-artiste {
  background-color: #fff;
  top: 0;
  transition: 0.5s;
  color: #000;
}

.scroll-entreprise {
  background-color: #fff;
  top: -100vh;
  transition: 0.5s;
  color: #000;
}


#section-first {
  position: absolute;
}

#cont-intro-text {
  width: 40%;
  margin: auto;
  margin-top: 3%;
  font-size: 1.5vw;
}


.close {
  position: relative;
  right: -95%;
  margin-top: 1.5%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
  color: grey;
}

.reseaux {
    margin-top: 12%;
}

.icon-reseaux {
    width: 20px;
    margin: 1%;
}

.little-text {
  width: 100%;
  font-size: 1.4vh;
  margin: auto;
  margin-top: 1%;
}

.modal-confirm{
  position: relative;
 transition: 0.8s;
  background-color: white;
  color: #3f3f3f;
  z-index: 10001;
  text-align: center;
  padding: 3%;
  margin: 0 auto;
}

