@font-face {
	font-family: "Montserrat-Regular";
	src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url('../font/Montserrat-Medium.ttf');
}
@font-face {
	font-family: "Montserrat-Bold";
	font-weight: bold;
	src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
	font-family: "Montserrat-ExtraBold";
	src: url('../font/Montserrat-ExtraBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  color: #464545;
}

html {

}

body {
  height: 100vh;
  overflow-y: hidden;


}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo-lugh{
  width: 6%;
  margin-top: 2%;
  margin-left: 2%;
}
#logo{
  width: 100%;
}
.burger{
  display: none;
}
h1 {
  font-family: "Montserrat-Bold", sans-serif;
  color: #FF4C49;
  font-size: 2.5vw;
}
#svg-background{
  position: absolute;
  right: 0%;
  width: 40%;
  top: -33%;
}
#svg-background-2{
  position: absolute;
  right: 0%;
  width: 50%;
  top: -33%;
}
#cont-btn{
  z-index: 2;
  margin-right: 3%;
  margin-top: 2%;
  width: 15%;
  display: block;
}
#burger-ctr{
  display: none;
}
.logo-lugh-mob{
  display: none;
}
#btn-artiste{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 1vw;
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 0.9vw;
  cursor: pointer;
}
#btn-artiste:hover{
  background-color: #ffffff;
  color: #a32b4d;
  transition: 0.5s;
}
#section-landing{
  width: 70%;
  margin-top: 5%;
  position: relative;
  margin-left: 5%;
}

.redirection {
  width: 0;
}

#text-1{
  width: 55%;
  margin-top: 3%;
  font-size: 1.3vw;
  font-family: "Montserrat-Regular";
}
.text-p-landing{
  text-align: center;
  /* margin-top: 2%; */
  font-size: 1.1vw;
  width: 60%;
  margin: auto;
  margin-top: 2%;
}
form{
  margin-top: 5%;
}

form h3{
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
}
.input{
  display: flex;
  margin-top: 1%;
  width: 40%;
}
.div-input{
  width: 60%;
  Z-INDEX: -3;
  /* position:  absolute; */
}.div-submit{
  width: 40%;
  /* position:  absolute; */
}
#submit-ent{
  width: 100%;
  background-color: #FF4C49;
  height: 100%;
  color: #ffffff;
  border-bottom-right-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  border: 6px solid #FF4C49;
  font-size:  1.3vw;
  font-weight:  600;
  cursor: pointer;
}
#submit{
  width: 100%;
  background-color: #FF4C49;
  height: 100%;
  color: #ffffff;
  border-bottom-right-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  border: 6px solid #FF4C49;
  font-size:  1.3vw;
  font-weight:  600;
  z-index: 200;
}
::placeholder {
  font-size: 1.1vw;
}

#mailInput-ent{
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 6%;
  padding-left: -6%;
  border-bottom-left-radius: 0.8vw;
  border-top-left-radius: 0.8vw;
  border: 1px solid #FF4C49;
  position: relative;
  right: 0;
  outline: none;
}
#mailInput-art{
  width: 100%;
  padding: 2vh;
  border-bottom-left-radius: 0.8vw;
  border-top-left-radius: 0.8vw;
  border: 1px solid #FF4C49;
  position: relative;
  right:  0;
  outline: none;
}
.min-link{
  font-size: 0.7vw;
  font-weight: 300;
  display: block;

}
#RGPDRS{
  margin-top: 7vw;
}
.reseaux{
  width: 30%;
}

.fond-degradé {
  width: 0;
}

.reseaux-mobile {
  width: 0;
}

.reseaux img{
  width: 12%;
}
#rgpd{

  width: 80%;
  display: block;
  font-size: 0.7vw;
  font-family: "Montserrat-Regular";
  margin-top: 2%;
}

