@media only screen and (max-width: 700px) {

  .logo-lugh{
    width: 16%;
    margin-top: 2%;
    margin-left: 45%;
  }

  #svg-background{
    width: 0;
  }
  #svg-background-2{
    width: 0;
  }

  #btn-artiste{
    width: 0;
  }

  #section-landing {
    margin: auto;
    width: 100%;
    margin-top: 5%;
  }

  h1 {
    font-size: 6vw;
    text-align: center;
  }

  #text-1 {
    width: 90%;
    margin: auto;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 14%;
  }

  form{
    margin-top: 10%;
  }

  form h3 {
    font-size: 3.8vw;
    text-align: center;
  }

  .input{
    display: flex;
    margin-top: 1%;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }

  .div-submit {
    width: 50%;
    margin: auto;
    margin-top: 5%;
  }

  #submit-ent {
    width: 100%;
    background-color: #5BB59B;
    height: 100%;
    color: #ffffff;
    border-radius: 4vw;
    border: 6px solid #5BB59B;
    font-size: 3vw;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    padding: 5%;
  }

  .div-input {
    width: 95%;
    margin: auto;
    margin-top: 7%;
  }

  ::placeholder {
    font-size: 4.1vw;
  }

  #mailInput-ent {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 6%;
    border-radius: 4vw;
    border: 1px solid #5BB59B;
    position: relative;
    right: 0;
    outline: none;
  }

  .redirection{
    width: 100%;
    color:#FF4C49;
    font-size: 2vw;
    text-decoration: underline;  }

  #RGPDRS{
    margin: auto;
    width: 100%;
  }

  .reseaux {
    width: 0;
  }
  .reseaux-mobile {
    width: 60%;
    z-index: 222;
    position: absolute;
    bottom: 19%;
    left: 6%;
  }

  .reseaux-mobile img {
    z-index: 3;
  }

  .fond-degradé {
    width: 109%;
    z-index: 1;
    position: relative;
    bottom: -22px;
    left: 0;
  }

  #rgpd {
    width: 90%;
    text-align: center;
    display: block;
    font-size: 3vw;
    z-index: 22;
    position: absolute;
    bottom: 6%;
    left: 5%;
    color: white;
  }

  .redirection {
    width: 100%;
    margin-top: 2%;

  }

  .redirection a {
    color: #FF4C49;
    font-size: 2.5vw;
    font-family: "Montserrat-Bold";
    text-decoration: underline;
  }

}
