@media only screen and (max-width: 700px) {
    html {
        overflow-x: hidden;
        height: auto;
    }

    body {
        overflow-x: hidden;
        height: auto;
        position: relative;
    }

    #Calque_1 {
        display: none;
    }

    #Calque_2 {
        display: none;
    }

    #Calque_3 {
        display: none;
    }

    #Calque_4 {
        display: block;
        position: absolute;
        width: 100%;
        right: -30%;
        top: -20%;
    }

    #Calque_5 {
        width: 240%;
        position: absolute;
        left: -70%;
        top: 60%;
        z-index: -20;
        margin-top: 23%;
    }

    #Calque_7 {
        display: block;
        position: absolute;
        width: 190%;

    }

    .Calque_7 {
        left: 70%;
        top: -30%;
        transition: 0.5s;
    }

    .Calque_7-open {
        left: -50%;
        top: -30%;
        transition: 0.5s;
    }

    .a-menu-artiste {
        position: absolute;
        left: 140%;
        top: 10%;
        transition: 0.5s;
        /* left: -50%; */
        /* top: -30%; */
        z-index: 2000;
        font-size: 7vw;
        color: white;
        text-decoration: none;
    }

    .a-menu-entreprise {
        position: absolute;
        left: 140%;
        top: 13%;
        transition: 0.5s;
        /* left: -50%; */
        /* top: -30%; */
        z-index: 2000;
        font-size: 7vw;
        color: white;
        text-decoration: none;
    }

    .a-menu-visible {
        left: 55%;
    }

    .logo-lugh {
        width: 40%;
        margin: auto;
        margin-top: 40%;
    }
    #burger-button{
        display: block;
    }
    #burger-ctr {
        display: block;
        width: 12%;
        /* margin: 0 auto; */
        height: 12vw;
        position: relative;
        padding: 12.5px 0;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        top: 3%;
        right: -3%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 230;
    }

    .bar {
        height: 25%;
        background: white;
        margin-bottom: 20%;
        border-radius: 50px;
        position: relative;
        -webkit-transition: .3s all ease;
        transition: .3s all ease;
    }

    .bar.bottom {
        margin-bottom: 0;
    }

    .head {
        position: absolute;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        top: 25%;
        margin-top: -5px;
        left: 50%;
        margin-left: -10px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    #section-landing h1 {
        font-size: 7vw;
        display: block;
        margin: auto;
        width: 80%;
        font-weight: 800;
        text-align: center;
        margin-top: 14%;

    }

    #section-landing {
        height: auto;
    }

    #text-1 {
        width: 80%;
        margin: auto;
        z-index: 100;
        margin-top: 10%;
        font-size: 6vw;
        text-align: center;
        line-height: 140%;
    }

    .text-p-landing {
        text-align: center;
        font-size: 4.5vw;
        width: 90%;
        margin: auto;
        margin-top: 10%;
        line-height: 190%;
    }

    #cont-btn {
        display: none;
    }

    #btn-artiste {
        background-color: #a32b4d;
        color: white;
        border: 0 solid white;
        padding-left: 27%;
        padding-right: 27%;
        padding-top: 15%;
        padding-bottom: 15%;
        border-radius: 4vw;
        text-transform: uppercase;
        font-family: "Montserrat-Bold";
        font-weight: bold;
        font-size: 1.3vh;
        cursor: pointer;
    }

    form {
        width: 90%;
        margin-top: 20%;
    }

    form h3 {
        color: white;
    }

    #back-content {
        /* background-image: url("../img/Mask.svg");
        /* background-repeat: no-repeat; */
        /* background-size: 170%; */
        /* background-position-y: 50%; */
        margin-top: 50%;
    }

    .input {
        display: block;
        margin-top: 7%;
        /* justify-content:  space-around; */
        width: 90%;
        /* z-index: 150; */
    }

    .div-input {
        width: 90%;
    }

    .div-submit {
        width: 90%;
        z-index: 200;
        margin: auto;
    }

    #submit-ent {

        font-size: 5vw;

        width: 100%;

        display: block;

        /* margin: auto; */

        border-radius: 5vw;

        margin-top: 5%;

        /* display:  block; */
    }

    #submit {

        font-size: 5vw;

        width: 100%;

        display: block;

        /* margin: auto; */

        border-radius: 5vw;

        margin-top: 5%;

        /* display:  block; */
    }

    #mailInput-ent {
        width: 98%;
        /* padding: 14%; */
        position: initial;
        /* margin: auto; */
        /* left: 0; */
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    #mailInput-art {
        width: 98%;
        /* padding: 14%; */
        position: initial;
        /* margin: auto; */
        /* left: 0; */
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    #submit {
        width: 100%;
        height: 99%;
        padding: 4%;
        border-bottom-right-radius: 5vw;
        border-top-right-radius: 5vw;
        font-size: 3.3vw;
    }

    #rgpd {
        width: 85%;
        margin: auto;
        text-align: center;
        font-size: 3.3vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-weight: 200;
        position: absolute;
        /* bottom: 2%; */
        left: 6%;
        line-height: 190%;
    }

    .reseaux {
        margin: auto;
        width: 90%;
        position: initial;
        right: 45%;
        bottom: 4%;
        display: flex;
        justify-content: space-between;
        margin-top: 50%;
    }

    .reseaux img {
        width: 50%;
        display: block;
        margin: auto;
    }

    #back-content img {
        display: block;
        position: absolute;
        width: 190%;
        right: 0;
        left: -40%;
        top: 48%;
    }

    #form-ent {
        position: relative;
    }
    #a-menu, #a-menu-2{
        display: block;
    }
    .min-link{
        display: none;
    }
}
